*{
	margin: auto;
	padding: 0;
}

body{
	position: relative;
	background: #FFFFFF;
	width: 1440px;
	height: 2220px;
	background: #424B54;
	overflow-x:hidden; 
	max-width: 1440px;
	min-width: 790px;
}

header{
	position: absolute;
	width: 1440px;
	height: 78px;
	background: #424B54;
}

.logo{
	position: absolute;
	left: 101px;
	top: 33px;
	font-family: Lato Regular;
	font-size: 24px;
	line-height: 12px;
	text-decoration: none;
	color: #FFFFFF;
	background: #424B54;
}

.menu{
	position: absolute;
	width: 526px;
	height: 29px;
	right: 56px;
	top: 24px;
	background: #424B54;
	color: #424B54;
}


.menu_item{
	text-decoration: none;
	font-family: Lato Regular;
	font-size: 24px;
	color: #FFFFFF;
	padding: 10px;
}


.ex_content{
	position: absolute;
	width: 1440px;
	height: 583px;
	top: 78px;
}

img{
	position: absolute;
	width: 360px;
	height: 421px;
	left: 368px;
	top: 82px;
}

.rectangle{
	position: relative;
	width: 367px;
	height: 421px;
	top: 82px;
	left: 192px;
	background: #6DAEDB;
}

.textbox{
	position: relative;
	width: 238px;
	height: 238px;
	list-style: none;
	top: 89px;
	left: 2px;
	background: #6DAEDB;
}

.textbox div{
	position: inherit;
	font-family: Lato SemiBold;
	--font-size: 24px;
	--line-height: 30px;
	color: #000000;
	background: #6DAEDB;
}

.font1{
	font-size: 36px;
	font-style: bold;
	line-height: 48px;
	font-size: 36px;
}

.font2{
	font-size: var(--font-size);
	line-height: var(--line-height);
	line-height: 30px;
}

.font3{
	font-size: var(--font-size);
	line-height: var(--line-height);
	top: 35px;
}

.font4{
	font-size: var(--font-size);
	line-height: var(--line-height);
	top: 46px;
}

.container{
	display: flex;
	flex-direction: column;
    padding-top: 649px;
	background: #424B54;
	color: #424B54;
}

.item{
	background: #C4C4C4;
	width: 1440px;
	height: 334px;
	margin: 6px;
	line-height: 78px;
	color: #0070C0;
	font-family: Lato SemiBold;
	font-size: 36px;
	align-items: center;

}

.h{
	padding-top: 55px;
	background: #C4C4C4;
	text-align: center;
	color: #0070C0;
}

.text{
	width: 755px;
	height: 145px;
	left: 342px;

	font-family: Lato SemiBold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;		
	color: #000000;
	background: #C4C4C4;
}

footer{
	width: 1440px;
	height: 210px;
	background: #424B54;
	color: #424B54;
}

.contacts{
	position: absolute;
	left: 490px; 
	background: #424B54;
	color: #424B54;
	bottom: 70px;
}

.contacts a{
	background: #424B54;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Lato Medium;
	font-size: 24px;
	padding: 36px;
}    

.contacts div{
	width: 254px;
	height: 17px;
	text-align: center;
	font-family: Lato Regular;
	font-size: 14px;
	line-height: 65px;
	margin-left: 110px;

	color: #FFFFFF;
}

@media all and (max-width: 1340px){
	.menu {
		right: 15%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 6%;
		transition-duration: 0.5s;
	}
	.item{
		width: 90.7%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 28%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 1240px){
	.menu {
		right: 25%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 10%;
		transition-duration: 0.5s;
	}
	.item{
		width: 83.9%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 25%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 1140px){
	.menu {
		right: 30%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 13%;
		transition-duration: 0.5s;
	}
	.item{
		width: 77.1%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 20%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 1040px){
	.menu {
		right: 35%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 16%;
		transition-duration: 0.5s;
	}
	.item{
		width: 69.85%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 17%;
		transition-duration: 0.5s;
	}
}


@media all and (max-width: 940px){
	.menu {
		right: 42%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 18.5%;
		transition-duration: 0.5s;
	}
	.item{
		width: 63.1%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 14%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 840px){
	
	.menu {
		width: 25%; 
		right: 47%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 22.5%;
		transition-duration: 0.5s;
	}
	.item{
		width: 56.2%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 10%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 790px){
	.menu {
		width: 22%; 
		right: 53%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 24.0%;
		transition-duration: 0.5s;
	}
	.item{
		width: 52.7%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 7%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 690px){
	.menu {
		width: 18%; 
		right: 57%;
		transition-duration: 0.5s;
	}
	img{
		width: 22%;

		transition-duration: 0.5s;
	}
	.rectangle{
		width: 22%;

		left: 8.1%;
		transition-duration: 0.5s;
	}
	.textbox{
		width: 80%;
		transition-duration: 0.5s;
	}
	.ex_content{
		right: 24.0%;
		transition-duration: 0.5s;
	}
	.item{
		width: 45.4%;
		transition-duration: 0.5s;
	}
	.h{
		padding-top: 35px;
		transition-duration: 0.5s;
	}
	.text{
		line-height: 20px;
		width: 90%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 7%;
		transition-duration: 0.5s;
	}
}

@media all and (max-width: 590px){
	.logo{
		left: 4%;
		transition-duration: 0.5s;
	}
	.menu {
		width: 14%; 
		right: 62%;
		transition-duration: 0.5s;
	}
	img{
		width: 18%;
		height: 55%;
		right: 49%;
		transition-duration: 0.5s;
	}
	.rectangle{
		width: 18%;
		height: 55%;
		left: 6.28%;
		transition-duration: 0.5s;
	}
	.textbox{
		top: 40px;
		left: 13px;
		--font-size: 20px;
		width: 90%;
		transition-duration: 0.5s;
	}
	.textbox div{
		--font-size: 20px;
		transition-duration: 0.5s;
	}
	
	.font1{
		font-size: 28px;
		line-height: 33px;
		transition-duration: 0.5s;
	}
	
	.ex_content{
		right: 27.5%;
		transition-duration: 0.5s;
	}
	.item{
		text-align: center;
		width: 42%;
		font-size: 28px;
		transition-duration: 0.5s;
	}
	.h{
		padding-top: 35px;
		text-align: center;
		transition-duration: 0.5s;
	}
	.text{
		font-size: 20px;
		width: 74%;
		transition-duration: 0.5s;
	}
	.contacts{
		left: 4%;
		transition-duration: 0.5s;
	}
	.contacts a{
		font-size: 20px;
		transition-duration: 0.5s;
	}    
	.contacts div{
		font-size: 10px;
		transition-duration: 0.5s;
	}
}
